<launch>
  <arg name="parameter_file" default="$(find-pkg-share flir_spinnaker_ros2)/config/grasshopper.cfg"/>
#	launch-prefix="gdb -ex run --args"
  <node pkg="flir_spinnaker_ros2" exec="flir_spinnaker_ros2"
	name="grasshopper" output="screen" ns="/flir">
    <param name="parameter_file" value="$(var parameter_file)"/>
    <param name="name" value="grasshopper"/>
    <param name="serial_number" type="str" value="'17274483'"/>
    <param name="dump_node_map" type="bool" value="false"/>
    <!--
    <param name="frame_rate" type="double" value="10.0"/>
    <param name="gain_auto" type="str" value="'Off'"/>
-->
    <!--
    <param name="serial_number" type="str" value="'20435008'"/>
    -->
  </node>
</launch>
